[submodule "deps/uspi"]
	path = deps/uspi
	url = https://github.com/rsta2/uspi.git
[submodule "deps/cpython"]
	path = deps/cpython
	url = https://github.com/python/cpython
	branch = 3.6
[submodule "deps/ChibiOS-RPi"]
	path = deps/ChibiOS-RPi
	url = https://github.com/rreilink/ChibiOS-RPi
